.input-radioFiled{
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
}

.input-radioCustom{
  width: 20px;
  margin-right: 6px;
  height: 20px;
  border: 1px solid #E5E5E5;
  display: inline-block;
  border-radius: 50%;
}

.input-radioCustom-checked{
  border: 6px solid #E5E5E5;
}

.input-radioLabel{
  display: flex;
  margin-top: 8px;
}
